* body{
    overflow-x: hidden;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
.banner{
    width: 50px;
    height: 50px;
}
.menu{
    background: url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    box-shadow: .1em .1em .2em #606060;
}
#container-search{
    position: relative;
    top: -15em;
}
#container-search h1{
    position: relative;
    top: -1em;
    font-size: 2.5em;
    text-align: center;
    color: #ff7d03;
}
#container-search input{
    position: relative;
    top: -2.4em;
    width: 35%;
    margin: auto;
}
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;

}
.cabecalho h2{
    margin-left: 1rem;
}

/*EVENTOS*/
.eventos{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.card{
    margin-left: 1rem;
    margin-bottom: 1.8rem;
}
.forms{
    display: flex;
    flex-wrap: wrap;
}
#outline
{
 display: flex;
 flex-wrap: wrap;
}
.events-participantes{
    position: absolute;
    right: 20px;
}
#todos{
    position: absolute;
    right: 8px;
}
.dashboard-container{
    display: flex;
    flex-wrap: wrap;
}
